SalesforceWorkoutLoggerApp/force-app/main/default/flows/Doubler_and_Plates_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Plate_Populated</name>
        <label>Plate Populated</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Plate Counts cannot be filled at same time as &apos;Doubler&apos;  is set to &apos;True&apos; and &apos;Weight&apos; is filled. Please either us the Plate Counts or &apos;Weight&apos;/ &apos;Doubler&apos;.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Plates_Error</name>
        <label>Plates Error</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please fill correct values in Plates Area</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Weight_Fill_Error</name>
        <label>Weight Fill Error</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Must fill &apos;Weight&apos; to use &apos;Doubler&apos;. Do not use &apos;Doubler&apos; with Plate Count.</errorMessage>
            <fieldSelection>Weight__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Copy_1_of_Doubler_or_Plates</name>
        <label>Copy 1 of Doubler or Plates?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Plate_Count_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plates</defaultConnectorLabel>
        <rules>
            <name>Doubler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Doubler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Weight_Null</targetReference>
            </connector>
            <label>Doubler</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plate_Count_Validation</name>
        <label>Plate Count Validation</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>PlatesTotaled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR  (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12) OR  (13 AND 14) OR (15 AND 16)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Large_Plates_Count__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Large_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plates_Count__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plates_Count__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Count__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Large_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Large_Plate_Value__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plate_Value__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plate_Value__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Value__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Plates_Error</targetReference>
            </connector>
            <label>Outcome 1 of Decision 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>plates_check</name>
        <label>Plates check</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Doubled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>plate_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Large_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Large_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medium_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plate_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Small_Plates_Count__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Very_Small_Plates_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Weight__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Plate_Populated</targetReference>
            </connector>
            <label>Plate Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weight_Null</name>
        <label>Weight Null?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>plates_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Weight_Nullq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Weight__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Weight_Fill_Error</targetReference>
            </connector>
            <label>Weight Null?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bar</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE( {!$Record.Additional_Weight__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LargePlateTotal</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE(({!$Record.Large_Plate_Value__c}*{!$Record.Large_Plates_Count__c}),0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MediumPlateTotal</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE( ({!$Record.Medium_Plate_Value__c}*{!$Record.Medium_Plates_Count__c}),0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>PlateTotal</name>
        <dataType>Number</dataType>
        <expression>{!LargePlateTotal}+{!MediumPlateTotal}+{!SmallPlateTotal}+{!VerySmallPlateTotal}+{!Bar}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>SmallPlateTotal</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE(({!$Record.Small_Plate_Value__c}*{!$Record.Small_Plates_Count__c}), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VerySmallPlateTotal</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE(({!$Record.Very_Small_Plates_Value__c}*{!$Record.Very_Small_Plates_Count__c}), 0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>WeightDoubled</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Weight__c}*2</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Doubler and Plates Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doubler and Plates Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Doubled</name>
        <label>Doubled</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>WeightDoubled</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PlatesTotaled</name>
        <label>Plates Totaled</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>PlateTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Doubler_or_Plates</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Doubler__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Large_Plate_Value__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Large_Plates_Count__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Medium_Plate_Value__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Medium_Plates_Count__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Small_Plate_Value__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Small_Plates_Count__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Very_Small_Plates_Value__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Very_Small_Plates_Value__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Exercise_Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
