SalesforceWorkoutLoggerApp/force-app/main/default/flows/Update_1_Rep_Max.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update 1 Rep Max {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update 1 Rep Max</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Exercise_Sessions</name>
        <label>Get Exercise Sessions</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exercise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Exercise__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exercise_Session__c</object>
        <sortField>X1_Rep_Max__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exercise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Exercise__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_of_Largest_1_Rep_Max__c</field>
            <value>
                <elementReference>Get_Exercise_Sessions.Day_of_Workout__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Largest_1_Rep_Max__c</field>
            <value>
                <elementReference>Get_Exercise_Sessions.X1_Rep_Max__c</elementReference>
            </value>
        </inputAssignments>
        <object>Exercise_Session__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exercise_Sessions</targetReference>
        </connector>
        <object>Exercise_Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
