SalesforceWorkoutLoggerApp/force-app/main/default/flows/WorkoutCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Push_Pull_Legs_Other</name>
        <label>Push, Pull, Legs, Other?</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Create_Workout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Push</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Workout.Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Push</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Workout</targetReference>
            </connector>
            <label>Push</label>
        </rules>
        <rules>
            <name>Pull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Workout.Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pull</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Workout</targetReference>
            </connector>
            <label>Pull</label>
        </rules>
        <rules>
            <name>Legs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Workout.Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Workout</targetReference>
            </connector>
            <label>Legs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY())</expression>
    </formulas>
    <interviewLabel>WorkoutCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkoutCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Workout</name>
        <label>Copy 1 of Create Workout</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Day_of_Workout1__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type1__c</field>
            <value>
                <stringValue>Pull</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserWorkout__c</field>
            <value>
                <stringValue>a07ak000003XfJAAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <stringValue>005ak000005BUf7AAG</stringValue>
            </value>
        </inputAssignments>
        <object>Workout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Workout</name>
        <label>Copy 2 of Create Workout</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Day_of_Workout1__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type1__c</field>
            <value>
                <stringValue>Legs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserWorkout__c</field>
            <value>
                <stringValue>a07ak000003XfJAAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <stringValue>005ak000005BUf7AAG</stringValue>
            </value>
        </inputAssignments>
        <object>Workout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Workout</name>
        <label>Copy 3 of Create Workout</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Day_of_Workout1__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type1__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserWorkout__c</field>
            <value>
                <stringValue>a07ak000003XfJAAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <stringValue>005ak000005BUf7AAG</stringValue>
            </value>
        </inputAssignments>
        <object>Workout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_Workout</name>
        <label>Copy 4 of Create Workout</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Day_of_Workout1__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type1__c</field>
            <value>
                <stringValue>Push</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserWorkout__c</field>
            <value>
                <stringValue>a07ak000003XfJAAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <stringValue>005ak000005BUf7AAG</stringValue>
            </value>
        </inputAssignments>
        <object>Workout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Workout</name>
        <label>Get Last Workout</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Push_Pull_Legs_Other</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserWorkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a07ak000003XfJAAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Workout__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Workout</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-20</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
